*
!.docker
!.yarnrc.yml
!package.json
!yarn.lock
!nuxt.config.ts
!app
!server
!shared
!public
!i18n
!types
!pocketbase/go.mod
!pocketbase/go.sum
!pocketbase/main.go
!pocketbase/hooks
!pocketbase/pb_migrations
**/node_modules
