# Nuxt 3
node_modules
.nuxt
dist
*.local
*.log
*.lock
.nitro
.output

# PocketBase
pb_data/
pb_public/
pb_temp/

# Environment variables
.env
.env.*

# OS specific files
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Miscellaneous
*.swp
*.bak
*.tmp
